footer {
    background: #0e0e0e;

    height: 10vh;
    width: 100%;

    font-family: 'Windlass';
    font-size: x-large;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}