.popup {
    transform: translate(-60%, -50%);
    padding: 0px;
    left: 50%;
    top: 60%;

    display: flex;
    flex-direction: column;

    background-color: #1f1f1f;
    border: none;

    height: 65%;
    width: 40%;

    font-family: 'Windlass';
    font-size: x-large;
    color: #ffffff;
}

.popup:focus-visible, .button_popup:focus-visible {
    outline: none;
}

.popup_title {
    display: grid;
    height: auto;
    place-items: center;
}

.popup_title img,
.popup_title p {
    grid-area: 1 / 1 / 2 / 2;
}

.popup_title p {
    margin: 0;
}

.div_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 40%;
}

.div_button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30%;

    gap: 3%;
}

.button_popup {
    background: none;
    border: none;

    padding: 1vh 2%;

    font-family: 'Windlass';
    font-size: x-large;
    color: #ffffff;

    cursor: pointer;

    transition: background-color 0.2s;
}

.button_popup:hover {
    background-color: #323232;
}